code {
  font-size: 0.65em;
}
.obscurerHack {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: fadeout 0.5s;
  animation-delay: 0.5s;
  opacity: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
